body {
  background-color: bisque;
  color: rgb(158, 101, 58);
  padding: 2em;
}

header {
  text-align: center;
  font-size: x-large;
  color: #714a00;
}

main {
text-align: center;
font-size: larger;
color: #714a00;
}

.button-container button {
  padding: 12px 36px;
  font-weight: 500;
  font-size: 25px;
  background-color: rgb(174, 110, 8);
  color: azure;
  border: 6px solid rgb(202, 127, 6);
  border-radius: 10px;
  margin: 6px 10px;
  transition: 400ms ease-in-out;
}

.button-container button:hover {
  background-color: #c58816; 
  color: white;
  transform: scale(1.2);
  transition: 400ms ease-in-out;
}

.coffee-list {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.coffeeCard {
  width: 300px;
  border: 2px solid #443311;
  border-radius: 8px;
  background-color: rgb(249, 247, 245);
  margin: 1em;

}

.coffeeCardImage {
  width: 100%;
  height: 200px;
  background-position: center center;
  background-size: cover;
}